
@{
    ViewData["Title"] = "OurTeam";
}

<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="card col-md-2 shadow p-3 my-5 rounded text-center">
            <span class="card-title fs-3 text-center">Peter Mahrous</span>
            <img src="/images/peterM.jfif" class="card-img-top rounded-circle p-1" width="50" height="250">
            <div class="card-body">
                <p class="card-text"><a href="http://linkedin.com/in/peter-mahrous-aziz">LinkedIn</a></p>
                <p class="card-text">01158939429</p>
                <p class="card-text"><a href="http://github.com/peter-mahrous-aziz">github</a></p>
            </div>
        </div>
            <div class="card col-md-2 shadow p-3 my-5 rounded text-center">
                <span class="card-title fs-3 ">Norhan Nosir</span>
            <img src="/images/Norhan.jfif" class="card-img-top rounded-circle p-1" width="50" height="250">
                <div class="card-body">
                <p class="card-text"><a href="http://www.linkedin.com/in/nourhan-mohamed-faisal">LinkedIn</a></p>
                <p class="card-text">01098393581</p>
                <p class="card-text"><a href="http://github.com/NourhanMohmedFaisel">github</a></p>
                </div>
            </div>

        <div class="card col-md-2 shadow p-3 my-5 rounded text-center">
            <span class="card-title fs-3 text-center">Kerolos Ashraf</span>
            <img src="/images/kero.jfif" class="card-img-top rounded-circle p-1" width="50" height="250">
            <div class="card-body">
                <p class="card-text"><a href="https://www.linkedin.com/in/kerolos-ibrahim-14a3a8270">LinkedIn</a></p>
                <p class="card-text">01204637369</p>
                <p class="card-text"><a href="https://github.com/KerolosAshraf51">github</a></p>
            </div>
        </div>

        <div class="card col-md-2 shadow p-3 my-5 rounded text-center">
                <span class="card-title fs-3 text-center">Rana Tarek</span>
            <img src="/images/rana.jfif" class="card-img-top rounded-circle p-1" " width=" 50" height="250">
                <div class="card-body">
                <p class="card-text"><a href="https://www.linkedin.com/in/rana-tarek-4a06ba287">LinkedIn</a></p>
                <p class="card-text">01122814888</p>
                <p class="card-text"><a href="#">github</a></p>
                </div>
            </div>


        <div class="card col-md-2 shadow p-3 my-5 rounded text-center">
                <span class="card-title fs-3 text-center">Peter Kameel</span>
            <img src="/images/peterK.jfif" class="card-img-top rounded-circle p-1" width="50" height="250">
                <div class="card-body">
                <p class="card-text"><a href="https://www.linkedin.com/in/peter-kameel-a61055148/">LinkedIn</a></p>
                    <p class="card-text">01286966317</p>
                <p class="card-text"><a href="https://github.com/peterAlpert">github</a></p>
                </div>
            </div>
    </div>
</div>
<style>
    a{
        text-decoration:none;
    }
</style>

