
@{
    ViewData["Title"] = "confirmBuy";
}

<div class="row">
    <div class="col-6 mx-auto">
        <h1>Purchase Successful</h1>

        <p>Thank you<span class="text-danger fs-2 mx-3">@User.Identity.Name</span> for your purchase! The car is now yours.</p>
    </div>
</div>


